In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
location_info=pd.read_csv("C:/Users/Melaku/Desktop/Thesis_02/csv_data/location_info.csv",sep=",",index_col="hhid")
location_info.drop(['Unnamed: 0'],axis=1,inplace=True)

In [3]:
location_info.head()

           longitude  latitude  altitude kebele
hhid
DT1301562   37.87093  12.97442      2505   DT13
DT1301557   37.88640  12.93405      2506   DT13
DT1301547   37.88641  12.98617      2624   DT13
DT1301544   37.99801  12.99192      2647   DT13
DT1301543   37.89623  12.99023      2629   DT13

In [4]:
location_info.isnull().sum()

longitude    0
latitude     0
altitude     0
kebele       0
dtype: int64

In [5]:
location_info.head()

           longitude  latitude  altitude kebele
hhid
DT1301562   37.87093  12.97442      2505   DT13
DT1301557   37.88640  12.93405      2506   DT13
DT1301547   37.88641  12.98617      2624   DT13
DT1301544   37.99801  12.99192      2647   DT13
DT1301543   37.89623  12.99023      2629   DT13

In [6]:
location_info['altitude'].min()

1165

In [7]:
location_info['altitude'].max()

2996

In [8]:
location_info['altitude']=pd.cut(location_info.altitude,bins=[1164,1775,2385,2996],labels=['0','1','2'])

In [9]:
location_info.head()

           longitude  latitude altitude kebele
hhid
DT1301562   37.87093  12.97442        2   DT13
DT1301557   37.88640  12.93405        2   DT13
DT1301547   37.88641  12.98617        2   DT13
DT1301544   37.99801  12.99192        2   DT13
DT1301543   37.89623  12.99023        2   DT13

In [10]:
location_info.shape

(21293, 4)

In [11]:
location_info.to_csv("C:/Users/Melaku/Desktop/Thesis_02/csv/location.csv")